<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zsy.repository.mapper.AppCatStatisticsDayMapper">
  <resultMap id="BaseResultMap" type="org.zsy.repository.model.AppCatStatisticsDay">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <id column="get_time" jdbcType="DATE" property="getTime" />
    <result column="pv" jdbcType="BIGINT" property="pv" />
    <result column="uv" jdbcType="BIGINT" property="uv" />
    <result column="nuv" jdbcType="BIGINT" property="nuv" />
    <result column="active_rate" jdbcType="DOUBLE" property="activeRate" />
    <result column="active_time" jdbcType="DOUBLE" property="activeTime" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, get_time, pv, uv, nuv, active_rate, active_time, CREATED_BY, CREATED_TIME, UPDATED_BY, 
    UPDATED_TIME
  </sql>
  <select id="selectByExample" parameterType="org.zsy.repository.model.AppCatStatisticsDayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_cat_statistics_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_cat_statistics_day
    where id = #{id,jdbcType=VARCHAR}
      and get_time = #{getTime,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from app_cat_statistics_day
    where id = #{id,jdbcType=VARCHAR}
      and get_time = #{getTime,jdbcType=DATE}
  </delete>
  <delete id="deleteByExample" parameterType="org.zsy.repository.model.AppCatStatisticsDayExample">
    delete from app_cat_statistics_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zsy.repository.model.AppCatStatisticsDay">
    insert into app_cat_statistics_day (id, get_time, pv, 
      uv, nuv, active_rate, active_time, 
      CREATED_BY, CREATED_TIME, UPDATED_BY, 
      UPDATED_TIME)
    values (#{id,jdbcType=VARCHAR}, #{getTime,jdbcType=DATE}, #{pv,jdbcType=BIGINT}, 
      #{uv,jdbcType=BIGINT}, #{nuv,jdbcType=BIGINT}, #{activeRate,jdbcType=DOUBLE}, #{activeTime,jdbcType=DOUBLE}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.zsy.repository.model.AppCatStatisticsDay">
    insert into app_cat_statistics_day
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="getTime != null">
        get_time,
      </if>
      <if test="pv != null">
        pv,
      </if>
      <if test="uv != null">
        uv,
      </if>
      <if test="nuv != null">
        nuv,
      </if>
      <if test="activeRate != null">
        active_rate,
      </if>
      <if test="activeTime != null">
        active_time,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null">
        #{getTime,jdbcType=DATE},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=BIGINT},
      </if>
      <if test="uv != null">
        #{uv,jdbcType=BIGINT},
      </if>
      <if test="nuv != null">
        #{nuv,jdbcType=BIGINT},
      </if>
      <if test="activeRate != null">
        #{activeRate,jdbcType=DOUBLE},
      </if>
      <if test="activeTime != null">
        #{activeTime,jdbcType=DOUBLE},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zsy.repository.model.AppCatStatisticsDayExample" resultType="java.lang.Long">
    select count(*) from app_cat_statistics_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_cat_statistics_day
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.getTime != null">
        get_time = #{record.getTime,jdbcType=DATE},
      </if>
      <if test="record.pv != null">
        pv = #{record.pv,jdbcType=BIGINT},
      </if>
      <if test="record.uv != null">
        uv = #{record.uv,jdbcType=BIGINT},
      </if>
      <if test="record.nuv != null">
        nuv = #{record.nuv,jdbcType=BIGINT},
      </if>
      <if test="record.activeRate != null">
        active_rate = #{record.activeRate,jdbcType=DOUBLE},
      </if>
      <if test="record.activeTime != null">
        active_time = #{record.activeTime,jdbcType=DOUBLE},
      </if>
      <if test="record.createdBy != null">
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedTime != null">
        UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_cat_statistics_day
    set id = #{record.id,jdbcType=VARCHAR},
      get_time = #{record.getTime,jdbcType=DATE},
      pv = #{record.pv,jdbcType=BIGINT},
      uv = #{record.uv,jdbcType=BIGINT},
      nuv = #{record.nuv,jdbcType=BIGINT},
      active_rate = #{record.activeRate,jdbcType=DOUBLE},
      active_time = #{record.activeTime,jdbcType=DOUBLE},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zsy.repository.model.AppCatStatisticsDay">
    update app_cat_statistics_day
    <set>
      <if test="pv != null">
        pv = #{pv,jdbcType=BIGINT},
      </if>
      <if test="uv != null">
        uv = #{uv,jdbcType=BIGINT},
      </if>
      <if test="nuv != null">
        nuv = #{nuv,jdbcType=BIGINT},
      </if>
      <if test="activeRate != null">
        active_rate = #{activeRate,jdbcType=DOUBLE},
      </if>
      <if test="activeTime != null">
        active_time = #{activeTime,jdbcType=DOUBLE},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
      and get_time = #{getTime,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zsy.repository.model.AppCatStatisticsDay">
    update app_cat_statistics_day
    set pv = #{pv,jdbcType=BIGINT},
      uv = #{uv,jdbcType=BIGINT},
      nuv = #{nuv,jdbcType=BIGINT},
      active_rate = #{activeRate,jdbcType=DOUBLE},
      active_time = #{activeTime,jdbcType=DOUBLE},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
      and get_time = #{getTime,jdbcType=DATE}
  </update>
</mapper>